<!DOCTYPE html>
<html>
<head>
	<title>Lesson 1</title>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" type="text/css" href="http://davidtkatz.com/public_css/vue.css">
</head>
<body>
<div id="app">
	Text : {{ text }}
</div>

<script>
	var app = new Vue({
		el: '#app',
		data: {
			text: 'Hellow, Dikih arif'
		}
	})
</script>
</body>
</html>