<!DOCTYPE html>
<html>
<head>
	<title>Lesson 2</title>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" type="text/css" href="http://davidtkatz.com/public_css/vue.css">
</head>
<body>
<div id="app">
	<div v-bind:title="randNum" 
		v-if="shown">
		Hover over me  for your random number
	</div>
</div>

<script>
	var app = new Vue({
		el: '#app',
		data: {
			randNum: Math.floor(Math.random() * 50) + 1,
			shown: false
		}
	})
</script>
</body>
</html>